<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_io/favicon.ico') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

  <title>{% block title %}ContinuousCo{% endblock %}</title>
</head>
<body>
  <div class="container">
    <div class="header-row">
      <h1 class="brand"><a href="/" class="brand-link">Continuous Improvement</a></h1>
      <div class="nav">
        {% if request.endpoint != 'form_page' %}
        <div class="nav">
            {% if session.get("user_id") %}
            <a class="link-btn small" href="{{ url_for('dashboard') }}">Dashboard</a>
            <a class="link-btn small" href="{{ url_for('create_form') }}">New Form</a>
            <a class="link-btn small" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a class="link-btn small" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>
</body>
</html>
